/* project 1 css file */

*{

	font-family: 'Lato', sans-serif;
}

img, embed, 
object, video {max-width: 100%;}


h1{
    color: #747704;
    font-size: 75px;

}
h2{
    color: #bcbbbb;
    font-size: 40px;
}
h3{
    color: #747704;
    font-size: 50px;
}
a{
    color: #bcbbbb;
        font-size: 20px;

}
/*
hr {
	border: 0;
	height: 20px;
	color: black;

}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 14px;
} */

hr { 
    display: block;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    border-style: solid;
    border-width: 5px;
    height: 0px;
    border-color: gray;
} 

.site_logo{
	margin-left: 10px;
}
.feat-indent{
    margin-left: 25px;  
}